/* Para animaciones simples como HOVER */

/* .box {
	transition: all 1s linear 1s;
} */

/* .box:hover {
	transform: scale(3);
	transform: translateX(300px);
} */

.box {
	animation: changeColor-porcentages 2s ease-in-out 0s 1 alternate forwards;
}

@keyframes changeColor-fromTo {
	from {
		background-color: khaki;
	}
	to {
		background-color: blue;
	}
}

@keyframes move-box {
	from {
		/* transform: translateX(-600px); */
		/* transform: translateY(-600px); */
		transform: translate(-600px, -600px);
	}
	to {
		/* transform: translateX(600px); */
		/* transform: translateY(600px); */
		transform: translate(600px, 600px);
	}
}

@keyframes rotate-box {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes scale-box {
	from {
		transform: scale(1) rotate(0deg) translate(-600px, -600px);
		background-color: khaki;
	}
	to {
		transform: scale(2) rotate(360deg) translate(600px, 600px);
		background-color: blue;
	}
}

@keyframes changeColor-porcentages {
	0% {
		background-color: khaki;
	}
	50% {
		background-color: green;
		width: 200px;
	}
	100% {
		background-color: blue;
		width: 50px;
		transform: translateX(200px);
	}
}
